-
  const features = [
      {
          text: 'Простые домашние рецепты',
          img: './assets/img/fea_1.png',
          width: "108",
          height: "80"
      },

      {
          text: 'Статьи о готовке',
          img: './assets/img/fea_2.png',
          width: "107",
          height: "80"
      },

      {
          text: 'Бесплатная книга рецептов всем подписчикам',
          img: './assets/img/fea_3.png',
          width: "101",
          height: "80"
      },

      {
          text: 'Собирайте рецепты в&nbsp;recipe&nbsp;box',
          img: './assets/img/fea_4.png',
          width: "97",
          height: "80"
      },

      {
          text: 'Печать рецептов',
          img: './assets/img/fea_5.png',
          width: "94",
          height: "80"
      }
  ]

section.features
  .cmn__wrapper.features__wrapper
    .features-swiper-container
      .swiper-wrapper
        each fea in features
          .swiper-slide.features__item
            .features__item-header
              img(src=fea.img alt=fea.text width=fea.width height=fea.height)
            span.features__desc!= fea.text

      .features-swiper-pagination
      